.app{
  display: flex;
  flex-direction: column;
  justify-content: center;

}
.Top-bar{
 background-color: white;
  width: 100%;
  height: 80px;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Top-bar-logo{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  width: 30%;
  height: 100%;
  cursor: pointer;
}
.Top-bar-nav{
  height: 100%;
  width: 60%;
}
.Top-bar-nav-ul {
  text-decoration: none;
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 50px;
  color: rgb(136, 134, 134);
  cursor: pointer;
  font-weight: 400;
  font-size: 18px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.Top-bar-profile{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30%;
  height: 100%;
}
.Top-bar-profile img{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
}

.Searchbar{
  width: 100%;
  margin-top: 70px;
  height: 50px;
  text-align: center;
}
.Searchbar form input{
  border: 1px solid rgba(42, 42, 43, 0.514);
  width: 50%;
  height: 45px;
  border-radius: 25px;
}
.Searchbar form button{
  margin-left: -70px;
  font-size: 20px;
  align-self: center;
  border: none;
  margin-top: 5px;
  background-color: white;
  color: rgb(136, 134, 134);
  
} 
.Home{
  display: flex;
  justify-content: center;
}
.Posts{
  flex: 9;
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
 
}
.Sidebar{
  display: flex;
  flex: 3;
  flex-direction: column;
  border: 0.4px solid rgb(233, 233, 233);
  justify-content: center;
  margin-top: 20px;
}
.Sidebar-About{
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 10px;
  padding: 5px;
  align-items: center;
  justify-content: center;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.Sidebar-About p{
  color: rgb(78, 78, 78);
  overflow: hidden;
  display:-webkit-box ;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.Sidebar-About span{

  border-top: 1px solid rgb(155, 153, 153);
  border-bottom: 1px solid rgb(155, 153, 153);
}
.Sidebar-About img{
  height: 150px;
  border-radius: 5px;
  margin: 5px;
}
.Sidebar-Categories{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.Sidebar-Categories span{
  border-top: 1px solid rgb(155, 153, 153);
  border-bottom: 1px solid rgb(155, 153, 153);

  font-size: 17px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;

}
.Sidebar-Categories-lists{
  list-style: none;
}
.Sidebar-Categories-lists li{
  display: inline-block;
  width: 50%;
  margin-top: 15PX;
  cursor: pointer;
}
.Sidebar-Categories-follow{
  margin-top: 15px;
  width: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 20px;
}
.Sidebar-Categories-follow span{
  color:rgb(6, 160, 75);
  border-top: 1px solid rgb(155, 153, 153);
  border-bottom: 1px solid rgb(155, 153, 153);
}
.Sidebar-Categories-follow-icons{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
  cursor: pointer;
}

.Post{
  width: 385px;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  text-align: center;
}
.Post img{
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 10px;

}
.Post-Info{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.PostCats{
  color: rgb(128, 125, 125);
  display: flex;
  justify-content: center;
  gap: 10px;
}
.postTitle{
  font-family: 'Josefin Sans,sans-serif';
  font-size: 24px;
  font-weight: 700;
  margin-top: 10px;
  cursor: pointer;
}
.postDate{
 color:  rgb(128, 125, 125);
 margin-top: 10px;

}
.postDesc{
  color:  rgb(88, 88, 88);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 14px;
  line-height: 24px;
  margin-top: 15px;
  overflow: hidden;
  display:-webkit-box ;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}
.single{
  display: flex;
  
   
}
.singlePost{
flex: 9; 

}
.singlePost-wrapper{
  padding:20px;
  padding-right: 0;
  text-align: center;
}
.singlePost-wrapper img{
  width: 100%;
  height: 300px;
  border-radius: 5px;
  object-fit: cover;
}
.singlePost-Title{
  text-align: center;
  margin: 10px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 20px;
}
.singlePoste-desc{
  line-height: 1.3;
  margin-top: 0px;
  color:  rgb(122, 121, 121);
  overflow: hidden;
  display:-webkit-box ;
  -webkit-box-orient: vertical;
  margin-left: 20px;
}
.singlePoste-desc::first-letter{
  margin-left: 20px;
  font-size: 30px;
  font-weight: 600;
}
.singlePostEdit{
  float: right;
  font-size: 16px;
}
.singlePostEdit i{
margin-left: 20px;
cursor: pointer;
}
.singlePostEdit i:first-child{
  color: teal;
}
.singlePostEdit i:last-child{
color: tomato;
}
.singlePostinfo{
  margin-left: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  color: rgb(180, 143, 87); 
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
.singlePostTitleInput{
  margin: 10px;
  font-family: "Lora", serif;
  font-size: 28px;
  text-align: center;
  border: none;
  color: gray;
  border-bottom: 1px solid lightgray;
}
.singlePostTitleInput:focus {
  outline: none;
}
.singlePostDescInput{
  border: none;
  color: #666;
  font-size: 18px;
  line-height: 25px;
}
.singlePostDescInput:focus {
  outline: none;
}
.singlePostButton{
  width: 100px;
  border: none;
  background-color: teal;
  padding: 5px;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  align-self: flex-end;
  margin-top: 20px;
}
.deleted{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 200px;
}
.deletedMessage{
  color: rgb(144, 185, 165);
  font-weight: 800;
  font-size: xx-large;
}
.write{
  padding-top: 50px;
}
.writeImg{
 margin-left: 150px;
 width: 70vw;
 height: 250px;
 border-radius: 10px;
 object-fit: cover;

}
.writeForm{
position: relative;
}
.writeFormGroup{
  margin-left: 150px;
}
.writeIcon{
 width: 25px;
 height: 25px;
 border-radius: 50%;
 border: 1px solid;
 display: flex;
 align-items: center;
 justify-content: center; 
 font-size: 20px;
 color: grey;
}
.writeInput{
  font-size: 38px;
  border: none;
  padding: 20px;
  width: 70vw;
}
.writeInput:focus{
  outline: none;
}
.writeText{
 font-size: 20px;
 height: 100vh;
}
.writeSubmit{
  position: absolute;
  top: 20px;
  right:50px;
  color: white;
  background-color: teal;
  padding: 10px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
}
.catform{
  font-size: 38px;
  border: none;
  padding: 20px;
  width: 70vw;
  height: 20px;
  margin-top: 0px;
}
.settings{
display: flex;

}
.settingWrapper{
  flex: 9;
  padding: 20px;
}
.settingsTitle{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.settingsUpdateTitle{
  font-size: 30px;
  margin-bottom: 20px;
  color: lightcoral ;
}
.settingDeleteTitle{
  color: red;
  font-size: 12px;
  cursor: pointer;
}
.settingsForm{
  display: flex;
  flex-direction: column;

}
.settingspp{
  display: flex;
  align-items: center;
  margin-top: 10px 0;
}
.settingspp-img{
  width: 70px;
  height: 70px;
  border-radius: 20px;
  object-fit: cover;
}
.settingsppIcon{
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: lightcoral;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
  cursor: pointer;
}
.settingsForm label{
  font-size: 20px;
  margin-top: 20px;
}
.settingsForm >input{
  color: grey;
  margin: 10px 0;
  height: 30px;
  border: none;
  border-bottom: 1px solid lightgrey;
}
.settingsSubmit{
  width: 150px;
  border: none;
  align-self: center;
  border-radius: 10px;
  color: white;
  background-color: teal;
  padding: 10px;
  margin-top: 20px;
  cursor: pointer;
}
.login{
  height: calc(100vh - 50px);
  /* background-color: grey; */
  background: linear-gradient(rgba(255,255,255,0.5)),rgba(255,255,255,0.5);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-size: cover;
}
.Login-Title{
  font-size: 50px;
}
.loginForm{
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}
.loginForm > label{
  margin: 10px 0;
}
.loginInput{
  padding: 10px;
  background-color: white;
  border: none;
}
.loginButton{
  margin-top: 20px;
  cursor: pointer;
  background-color:lightcoral; 
  height: 30px;
  border: none;
  color: white;
  border-radius: 10px;
  padding: 10px;
  padding-bottom: 5px;
}
.loginButton:disabled{
  cursor: not-allowed;
  background-color: rgb(250, 183, 159);
}
.RegisterButton{
position: absolute;
top: 60px;
right: 20px;
background-color: teal;
cursor: pointer;
border: none;
padding: 10px;
color: white;
border-radius: 10px;

}



.Register{
  height: calc(100vh - 50px);
  background-color: rgba(255,255,255,0.5);

  /* background-color: grey; */
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-size: cover;
}
.Register-Title{
  font-size: 50px;
}
.RegisterForm{
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}
.RegisterForm > label{
  margin: 10px 0;
}
.RegisterInput{
  padding: 10px;
  background-color: white;
  border: none;
}
.RegisterrButton{
  margin-top: 20px;
  cursor: pointer;
  background-color:lightcoral; 
  height: 30px;
  border: none;
  color: white;
  border-radius: 10px;
  padding: 10px;
}
.LoginnButton{
position: absolute;
top: 60px;
right: 20px;
background-color: teal;
cursor: pointer;
border: none;
padding: 10px;
color: white;
border-radius: 10px;

}
.Searchbar {
  background-color: transparent;
  padding: 0px;
  transition: 0.5s ease;
}

.Searchbar.sticky {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 400;
}
